<%= javascript_include_tag "questions" %>
<h1><%= t(".title") %></h1>
<% provide(:button_text, t(".create")) %>
<p><%= link_to t(".back"), edit_subject_path(current_subject) %></p>
<div class="col-md-6 col-md-offset-3">
  <%= form_for(@question) do |f| %>
    <div>
      <div><%= f.label t(".question") %></div>
      <div><%= f.text_area :question_content, class: "form_control" %></div>
    </div>
    
    <div>
      <div><b><%= f.label t(".answers") %></b></div>

      <div id="selected_answer">
        <span>
          <%= t(".have_added") %> 
          <span id="count_answer" name="count_answer">0</span> 
          <%= t(".lower_answers") %>
        </span>  
        <div>
          <button id="add_button" onclick="insertAnswer()" type="button">
            <%= t(".add") %>
          </button>
        </div>
      </div>
      
      
      <div id="answer_form"></div>
    </div>

    <input id="all_answers" name="answers" type="hidden" value="" />
    <input id="all_correct_answers" name="correct_answers" type="hidden" value="" />
    <div>
      <div><%= f.label t(".type") %></div>
      <div>
        <select id="type_of_question" name="question_type" onchange="changeAnswerForm(this.selectedIndex)">
          <option value="one_answer"><%= t ".one_answer" %></option>
          <option value="multiple_answer"><%= t ".multiple_answer" %></option>
          <option value="multiple_answer"><%= t ".text_answer" %></option>
        </select>
      </div>

      <div>
        <input type="submit" onclick="createQuestionData()" 
          value="<%= t(".create") %>" class="btn btn-primary" />
      </div>
    </div>
  <% end %>
</div>
