<%= javascript_include_tag "questions" %>
<h1><%= t(".title") %></h1>
<% provide(:button_text, t(".create")) %>
  <p><%= link_to t(".back"), edit_subject_path(current_subject) %></p>
  <div class="col-md-6 col-md-offset-3">
  
    <%= form_for(@question) do |f| %>
  
      <%= f.label t(".question") %>
      <%= f.text_area :question_content, class: "form-control" %>

      
      <b><%= f.label t(".answers") %></b>
      <div><button id="add-button" onclick="insertAnswer()" type="button"><%= t(".add") %></button></div>
      <span><%= t(".have_added") %> <span id="count-answer" name="count-answer">0</span> <%= t(".lower_answers") %></span>
      <div id="answer-form"></div>

      <%= f.label t(".correct_answers") %>
      <div><button id="add-button" onclick="insertCorrectAnswer()" type="button"><%= t(".add") %></button></div>
      <span><%= t(".have_added") %> <span id="count-correct-answer">0</span> <%= t(".lower_answers") %></span>
      <div id="correct-answer-form"></div>

      <input id="all_answers" name="answers" type="hidden" value="" />
      <input id="all_correct_answers" name="correct_answers" type="hidden" value="" />

      <%= f.label t(".type") %>
      <%= f.text_field :question_type, class: "form-control" %>
      <input type="submit" onclick="createParamsData()" value="<%= t(".create") %>" class="btn btn-primary" />
    <% end %>
  </div>
