<% provide(:button_text, t(".save")) %>
<h1><%= @subject.name %></h1>
<p><%= link_to t(".home"), home_path(current_user.role) %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subject) do |f| %>
      <%= f.label t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t(".description") %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

<div class="col-md-8">
  <%= link_to t(".create_question"), new_question_path %>
</div>

<div class="col-md-8">
    <h3><%= t".list" %> (<%= @questions.size %>)</h3>
    <ul class="question">
      <% @questions.each do |question| %>
        <li>
          <span class="question"><%= link_to question.question_content, edit_question_path(question) %></span>
        </li>
      <% end %>
    </ul>
</div>

<div class="col-md-8">
  <%= link_to t(".create_exam"), new_exam_path %>
</div>

<div class="col-md-8">
    <h3><%= t".list_exam" %> (<%= @exams.size %>)</h3>
    <ul class="exam">
      <% @exams.each do |exam| %>
        <li>
          <span class="question"><%= link_to exam.name, edit_exam_path(exam) %></span>
        </li>
      <% end %>
    </ul>
</div>

<div class="col-md-8">
  <h3><%= link_to t(".trainee"), user_has_subjects_path %></h3>
</div>
