<h1><%= t(".title") %></h1>
<% provide(:button_text, t(".create")) %>
  <p><%= link_to t(".back"), edit_subject_path(current_subject) %></p>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@exam) do |f| %>
  
      <%= f.label t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t(".time_limit") %>
      <%= f.text_field :time_limit, class: "form-control" %>

      <%= f.label t(".mark_require") %>
      <%= f.text_field :mark_require, class: "form-control" %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="col-md-6 col-md-offset-3" id="added_questions">
      <h3><%= t(".added_question") %></h3>
      <ul class="added_question">
      <% @added_question.each do |question| %>
        <%= form_for(@exam.questions_in.find_by(question_id: question.id),
             html: { method: :delete }, :html => {:id=>"delete_question_form"}) do |f| %>
          <%= hidden_field_tag :question_id, question.id %>
          <%= hidden_field_tag :exam_id, @exam.id %>
          <li><div id="<%= question.id %>">
            <%= f.submit question.question_content, class: "btn btn-primary" %>
          </div></li>
        <% end %>
        
      <% end %>
      </ul>
  </div>
  <div class="col-md-6 col-md-offset-3" id="available_questions">
    <h3><%= t(".available_question") %></h3>
      <ul class="available_question">
      <% @questions.each do |question| %>
        <%= form_for(@exam.questions_in.build, :html => {:id=>"add_question_form"}) do |f| %>
          <%= hidden_field_tag :exam_id, @exam.id %>
          
          <li>
          <div><input id="mark" name="mark" /></div>
          <%= hidden_field_tag :question_id, question.id %>
          <%= f.submit question.question_content, class: "btn btn-primary" %>
          </li>
        <% end %>
    <% end %>
    </ul>
  </div>
